body{
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #fff;
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

    /* class selector */
.expense_section {
    background-color: #eaebeb;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    
}

    /*style the input fields*/

input {  
    padding: 8px;
    margin-top: 5px;
}


    /*ID selector*/

#your_expenses {
    background-color: #ecf0ee;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
}





section {
    margin-top: 30px;
}

